/*primeiro layout*/
#fixed-container {
  width: 720px;
  margin: 0 auto;
  background: #fff;
}

#fixed-logo {
  height: 100px;
  background: #9e9e9e;
  text-align: center;
  line-height: 100px;
}

#fixed-content {
  width: 520px;
  float: right;
}

#fixed-primary-content {
  width: 320px;
  float: left;
}

#fixed-secundary-content {
  width: 180px;
  float: right;
  background: #d1d1d1;
}

#fixed-secundary-content h1, 
#fixed-secundary-content h2, 
#fixed-secundary-content h3, 
#fixed-secundary-content p {
  padding-left: 20px;
  padding-right: 20px;
}

#fixed-nav {
  width: 180px;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #d1d1d1;
}

#fixed-nav ul li {
  text-align: center;
  padding: 5px 0;
}

#fixed-footer {
  clear: both;
  background: #c4c4c4;
  padding: 15px;
  text-align: center;
}

/*segundo layout*/

#liquid-container {
  width: 47.5%;
  margin: 0 auto;
  background: #fff;
  min-width: 720px;
}

#liquid-logo {
  width: 100%;
  height: 100px;
  background: #9e9e9e;
  text-align: center;
  line-height: 100px;
}

#liquid-content {
  width: 72.3%;
  float: right;
}

#liquid-primary-content {
  width: 62%;
  float: left;
}

#liquid-secundary-content {
  width: 36%;
  float: right;
  background: #d1d1d1;
}

#liquid-secundary-content h1, 
#liquid-secundary-content h2, 
#liquid-secundary-content h3, 
#liquid-secundary-content p {
  padding-left: 20px;
  padding-right: 20px;
}

#liquid-nav {
  width: 24.5%;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #d1d1d1;
}

#liquid-nav ul li {
  text-align: center;
  padding: 5px 0;
}

#liquid-footer {
  clear: both;
  background: #c4c4c4;
  padding: 15px;
  text-align: center;
}

/*terceiro layout*/

#image-liquid-container {
  width: 47.5%;
  margin: 0 auto;
  background: #fff;
  min-width: 720px;
}

#image-liquid-logo {
  width: 100%;
  height: 200px;
  background: #225992 url(../image/cabecalho2.jpg) no-repeat center;
  text-align: center;
  line-height: 200px;
}

#image-liquid-content {
  width: 72.3%;
  float: right;
}

#image-liquid-primary-content {
  width: 62%;
  float: left;
}

img.img-liquid {
  width: 96%;
  padding: 2%;
}

#image-liquid-secundary-content {
  width: 36%;
  float: right;
  background: #d1d1d1;
}

#image-liquid-secundary-content h1, 
#image-liquid-secundary-content h2, 
#image-liquid-secundary-content h3, 
#image-liquid-secundary-content p {
  padding-left: 20px;
  padding-right: 20px;
}

#image-liquid-nav {
  width: 24.5%;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #d1d1d1;
}

#image-liquid-nav ul li {
  text-align: center;
  padding: 5px 0;
}

#image-liquid-footer {
  clear: both;
  background: #c4c4c4;
  padding: 15px;
  text-align: center;
}